<div class="flex flex-col ">
  <p-fileUpload #fileUpload [disabled]="totalFileCount() "
    styleClass="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
    name="files" [multiple]="true" [maxFileSize]="1000000" accept="image/*" buttonStyleClass="bg-red-900"
    [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onFileUpload($event)"
    (onRemove)="onRemove($event)">
    <!-- <ng-template pTemplate="content">
      <ul *ngIf="selectedFiles.length">
        <li *ngFor="let file of selectedFiles">{{ file.name }} - {{ file.size }} bytes</li>
      </ul>
    </ng-template> -->
  </p-fileUpload>`
  <p-carousel [value]="uploadedFiles" *ngIf="uploadedFiles.length>0" [numVisible]="1" [numScroll]="1"
    orientation="horizontal" verticalViewPortHeight="360px">
    <ng-template let-image pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="mb-3 flex justify-center items-center place-content-center ">
            <img [src]="image.image.url" class="fixed-size-image" />
          </div>
          <div>
            <div class="car-buttons mt-5">
              <button (click)="onRemoveBin(image.name)" pButton pRipple icon="pi pi-trash"
                class="p-button-rounded p-button-danger"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <div class="flex flex-row justify-items-center items-center space-x-2 mt-2 ml-auto mr-4">
    <button (click)="onSave()"
      class="px-5 py-2.5 text-sm font-medium text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
      type="button">
      Save
    </button>
    <button (click)="onClose()"
      class="px-5 py-2.5 text-sm font-medium text-white bg-orange-500 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
      type="button">
      Cancel
    </button>
  </div>

</div>