
:host ::ng-deep .p-fileupload .p-fileupload-buttonbar {
    display: flex;
    justify-content: center;
}



:host ::ng-deep .p-fileupload .p-fileupload-buttonbar  {
      border: 1px;;
    border-color: black;
    display: flex;
    flex-direction: row;

}

.ui-fileupload-upload {
  background-color: #28A745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

