<div class="card font-primary">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" [style]="{'margin':'1rem'}"
        (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
    </ng-template>

    <!-- <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="mr-2 inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template> -->
  </p-toolbar>

  <p-table #dt [value]="products" [rows]="10" [paginator]="true"
    [globalFilterFields]="['title', 'price', 'Category.name', 'status','averageReview']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="block mx-5 place-content-end self-center">Manage Products</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder=" Search" />`
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="SKU" style="min-width:fit-content">SKU<p-sortIcon field="SKU"></p-sortIcon></th>
        <th pSortableColumn="title" style="min-width:8rem">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th>Image</th>
        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="currentStock" style="min-width:fit-content">Stock <p-sortIcon field="currentStock"
            style="min-width:fit-content"></p-sortIcon>
        </th>
        <th pSortableColumn="Category.name" style="min-width:fit-content">Category <p-sortIcon
            field="Category.name  "></p-sortIcon></th>
        <th pSortableColumn="averageReview">Reviews <p-sortIcon field="averageReview"></p-sortIcon>

        </th>
        <th pSortableColumn="status" style="min-width:fit-content">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th class=" min-w-fit "></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="pop" let-product>
      <tr>

        <td>{{ product.SKU }}</td>
        <td>{{ product.title }}</td>
        <td><img [src]="product?.images[0]?.url" [alt]="product.title" width="50" class="shadow-4" /></td>
        <td>{{ product.priceHistory[0].price | currency: 'USD' }}</td>
        <td>{{ product.currentStock }}</td>
        <td>{{ product.Category?.name }}</td>
        <td><p-rating [ngModel]="product.averageReview" [readonly]="true" [cancel]="false"></p-rating>
          <span>({{product.averageReview}})</span>

        </td>
        <td>
          <p-tag [value]="product.status" [severity]="getSeverity(product.status)"></p-tag>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning"
            (click)="viewProduct(product)"></button>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(product)"></button>

          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">In total there are {{ products ? products.length : 0
        }} products.</div>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="productDialog" class="w-full" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <app-create-product (closeClicked)="hideDialog()"></app-create-product>
  </ng-template>


</p-dialog>
<p-dialog [(visible)]="productViewDialog" class="w-full" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <app-product-page [product]="product"></app-product-page>

  </ng-template>

</p-dialog>

<p-dialog [(visible)]="productEditDialog" class="w-full" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <app-create-product [product]="product" (closeClicked)="hideDialog()"></app-create-product>


  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>