<!-- <app-admin-layout></app-admin-layout> -->
<!-- <app-adminsidebar></app-adminsidebar> -->
<!-- <app-product-card [product]="products[1]"></app-product-card> -->

<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<app-customer-header></app-customer-header>
<div class="bg-white">
  <div>
    <!--
      Mobile filter dialog

      Off-canvas filters for mobile, show/hide based on off-canvas filters state.
    -->
    <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->


    </div>

    <main class="mx-4">
      <div class="flex items-baseline justify-between border-b border-gray-200 pb-4 pt-6">
        <h1 class="text-xs  text-gray-900">Search for </h1>

        <div class="flex items-center mx-16">
          <div class="relative inline-block text-left">
            <div>
              <p-dropdown [options]="sortOptions" formControlName="brand" placeholder="Select a brand"
                [style]="{'color':'white','maxHeight':'40px', 'width': '150px', 'padding-top':' 0.5rem','padding-bottom':' 0.5rem','display': 'inline-flex','align-items': 'center','border-radius': '0px',' ': '0.5rem', 'background-color': 'transparent'  }"
                [editable]="true"></p-dropdown>
            </div>
          </div>
          <div class="flex items-center">
            <div class="relative inline-block text-left mx-4">
              <div>
                <p-multiSelect [options]="itemsAsSelectItems" [filter]="true" formControlName="brand"
                  placeholder="Select Cities"
                  [style]="{'maxHeight':'40px', 'width': '150px', 'padding-top':' 0.5rem','padding-bottom':' 0.5rem','display': 'inline-flex','align-items': 'center','border-radius': '0px',' ': '0.5rem', 'background-color': 'transparent' ,'color':'black' }"
                  display="chip" [showClear]="true"></p-multiSelect>

              </div>
            </div>
          </div>

        </div>
      </div>

      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
          <!-- Filters -->


          <!-- Product grid -->
          <div class="lg:col-span-4">
            <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-y-12 w-full mt-6">
              <div *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>