<div class="admin-container">
  <app-admin-header></app-admin-header>

  <!-- <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">

    <ng-template pTemplate class="flex flex-col justify-stretch">
    </ng-template>
  </p-splitter> -->
  <div class="admin-content">
    <app-adminsidebar></app-adminsidebar>
    <div class="main-content">
      <!-- <app-create-product> styleClass="w-full"></app-create-product> -->
      <app-product-body></app-product-body>
      <!-- <router-outlet></router-outlet>   -->
    </div>
  </div>

</div>